@import '../../variables';

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.input-select {
    width: 100%;
    padding: 10px;
    border: 1px solid $disabled;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
    color: $text-color;
  
    &:focus {
      border-color: $blue-dark;
      outline: none;
    }
  }
  
  .label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .error {
    color: $red;
    margin-top: 5px;
    font-size: 12px;
  }
  