@import "./variables";

body {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  background: linear-gradient(to bottom, #e6e6ff, #ffffff);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}